<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="initial-scale=1,width=device-width">
  </head>
  <body>
    <div id="app">{{content | safe}}</div>
    <script src="{{bundle}}" data-data="{{data | dump}}"></script>
  </body>
</html>

