<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <link rel="icon" href="/static/favicon-144.png" size="144x144">
    <link rel="icon" href="/static/favicon.png" size="16x16">
    <link rel="stylesheet" href="{{css}}">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    {% for m in meta %}
      {% if m.property %}
        <meta property="{{m.property}}" content="{{m.content}}">
      {% else %}
        <meta name="{{m.name}}" content="{{m.content}}">
      {% endif %}
    {% endfor %}
    {{styleTags | safe}}
  </head>
  <body>
    <div id="app">{{content | safe}}</div>
    <!-- Initialize firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-firestore.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <script data-firebase="{{firebaseConfig | dump}}">
      (function() {
        const config = JSON.parse(document.currentScript.dataset.firebase);
        window.__firebaseApp__ = firebase.initializeApp(config);
      })();
    </script>
    <script src="{{bundle}}" data-data="{{data | dump}}"></script>
  </body>
</html>

